
@media (max-width: 667px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url("img/background.png");
        background-size: cover;
        background-repeat: repeat;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-attachment: scroll;
        
        
    }
    
    header {
        background-color: #F4DDCE;
        text-align: center;
        padding: 0.313em; 
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline; 
        flex-direction: column;
        margin: 1em;
        font-size: 2em;
    }                                       
    
    nav a {
        text-decoration: none;
        color: #3C2415;
    }
    nav img {
        max-width: 100%;
        mix-blend-mode: multiply;
    }
    
    main {
        text-align: center;
        
    }
    a:hover{
       color: #63A98F;
    }
    footer{
        background-color: #3C2415;
        color: #F4DDCE;
        padding: 1.25em;
        justify-content: space-between;;
        margin-top: 2em;
        
    }
    footer ul{
        list-style-type: none;
    }
    .mainimg{
        width: 500px;
        height: 350px;
    }
    .box {
        display: flex; 
        align-items: center;
    }
    .titel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #F4DDCE;
        width: fit-content;
        font-size: 3em;
        padding: 0.2em;
        border-radius: 0.5em;
        text-align: center;
        margin: 0 auto;
        
    }
/*home pagina*/

    
    .introduction{
        background-color: #F4DDCE;
        color:#3C2415;
        border-radius: 3em;
        padding: 1em;
        margin: 1em;
        box-shadow: 0em 0em 0em 1em rgb(244 221 206 / 64%);

    }
    .phototitel{
        background-color: #F4DDCE;
        color: #3C2415;
        width: fit-content;
        padding: 0.2em;
        border-radius: 0.5em;
        text-align: center;
        margin: 0 auto;
    }
   

    .photo img {
        width: 40%;
        height: 200px; 
        margin: 0.5em;
        border-radius: 1.5em;
        object-fit: cover;
        border: 0.5em solid #F4DDCE;
      }


    /*droog pagina*/
    .introdroog{
        background-color: #F4DDCE;
        color:#3C2415;
        border-radius: 1em;
        padding: 1.5em;
        width: 100%;
        margin-bottom: 1em;
        box-shadow: 1em 5em 0em 1em rgb(244 221 206 / 64%);
    }
  
    .droogvlag{
        width: 95%;
        margin: 0.5em;
        border-radius: 1em;
    }  
    .contentdroog { 
        display: flex;
    }  
    .infodroog{
        background-color: #F4DDCE;
        color:#3C2415;
        padding: 1em;
        box-shadow: -1em 0em 0em 1em rgb(244 221 206 / 64%);
    }
  /* photo's slide */
  .dslides{
    display: flex;
    width: 100%;
    border-bottom: 1em;
    overflow-x: scroll;
    scroll-padding: 2em;
    scroll-snap-type: x mandatory;
   
}

.dslide{
    padding: 2em;
    scroll-snap-align: start;
    width: 70%;
    
}

/* photo's slideshow */
.slides {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 30em;
    position: relative;
}

.slide {
    width: 100%;
    height: 70%;
    object-fit: cover;
    opacity: 0;
    position: absolute;
    animation: slideshow 20s infinite;
    margin-top: 1.2em;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 10s;
}

.slide:nth-child(3) {
    animation-delay: 20s;
}

.slide:nth-child(4) {
    animation-delay: 30s;
}

.slide:nth-child(5) {
    animation-delay: 40s;
}

.slide:nth-child(6) {
    animation-delay: 50s;
}

.slide:nth-child(7) {
    animation-delay: 60s;
}

.slide:nth-child(8) {
    animation-delay: 70s;
}

.slide:nth-child(9) {
    animation-delay: 80s;
}

.slide:nth-child(10) {
    animation-delay: 90s;
}



@keyframes slideshow {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


    /*oudemanhuispoort*/

    .introuva{
        background-color: #F4DDCE;
        color:#3C2415;
        border-radius: 1em;
        padding: 1.5em;
        width: 100%;
        margin-bottom: 0.5em;
        box-shadow:  0.5em 1em 0em 1em rgb(244 221 206 / 64%);
    }
  
    .ingang{
        width: 95%;
        margin: 0.5em;
        border-radius: 1em;
    }  
    .contentuva { 
        display: flex;
    }   
    .infouva{
        background-color: #F4DDCE;
        color:#3C2415;
        padding: 1em;
        box-shadow: 0em 0em 0em 1em rgb(244 221 206 / 64%);
    }
}
