
@media (max-width: 667px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url("img/background.png");
        background-size: cover;
        background-repeat: repeat;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-attachment: scroll;
        
    }
    
    header {
        background-color: #F4DDCE;
        text-align: center;
        padding: 0.313em; 
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        display: inline; 
        flex-direction: column;
        margin: 1em;
        font-size: 2em;
    }                                       
    
    nav a {
        text-decoration: none;
        font-weight: bold; 
        color: #3C2415;
    }
    nav img {
        max-width: 100%;
        mix-blend-mode: multiply;
    }
    
    main {
        text-align: center;
        
    }
    a:hover{
       color: #63A98F;
    }
    footer{
        background-color: black;
        opacity: 60%;
        color: #F4DDCE;
        padding: 1.25em;
        justify-content: space-between;;
        margin-top: 2em;
        
    }
    footer ul{
        list-style-type: none;
    }
    .mainimg{
        max-width: 100%;
    }
    
/*home pagina*/
    .introduction{
        background-color: #F4DDCE;
        color:#3C2415;
        border-radius: 3em;
        padding: 1em;
        margin: 1em;
    }
    .phototitel{
        background-color: #F4DDCE;
        color: #3C2415;
        width: fit-content;
        padding: 0.2em;
        border-radius: 0.5em;
        text-align: center;
        margin: 0 auto;
    }
   

    .photo img {
        width: 40%;
        height: auto;
        margin: 0.5em;
        border-radius: 1.5em;
        object-fit: cover;
        border: 0.5em solid #F4DDCE;
        
    }


    /*droog pagina*/
    .introdroog{
        background-color: #63A98F;
        color:#3C2415;
        border-radius: 1em;
        padding: 1.5em;
        width: 100%;
        margin-bottom: 1em;
    }
  
    .droogvlag{
        width: 95%;
        margin: 0.5em;
        border-radius: 1em;
    }  
    .contentdroog { 
        display: flex;
    }  
    .infodroog{
        background-color: #63A98F;
        color:#3C2415;
        padding: 1em;
    }
  /* photo's slide */
  .dslides{
    display: flex;
    width: 100%;
    background: #63A98F;
    border-bottom: 1em;
    overflow-x: scroll;
    scroll-padding: 2em;
    scroll-snap-type: x mandatory;
   
}

.dslide{
    padding: 2em;
    scroll-snap-align: start;
    width: 70%;
    
}

/* photo's slide */
    .slides{
        display: flex;
        width: 100%;
        background: #3C2415;
        border-bottom: 1em;
        overflow-x: scroll;
        scroll-padding: 2em;
        scroll-snap-type: x mandatory;
       
    }

    .slide{
        padding: 2em;
        scroll-snap-align: start;
        width: 70%;
        
    }

    /*oudemanhuispoort*/

    .introuva{
        background-color: #3C2415;
        color:#F4DDCE;
        border-radius: 1em;
        padding: 1.5em;
        width: 100%;
        margin-bottom: 0.5em;
    }
  
    .ingang{
        width: 95%;
        margin: 0.5em;
        border-radius: 1em;
    }  
    .contentuva { 
        display: flex;
    }   
    .infouva{
        background-color: #3C2415;
        color:#F4DDCE;
        padding: 1em;
    }
}


